body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}
@media all and (max-width:992px ) {
    .Link {
        margin-top: 45px;
    }
}
.label_title {
    text-align: left;
}
.label_content {
    text-align: left;
    margin-top: 10px;
    font-weight: normal;
}
.label_tip {
    text-align: left;
    margin-top: 3px;
    font-size: 12px;
    color: #c0c0c0;
}
.ul_menu {
    list-style: none;
}
.ul_menu > li {
    margin-top:10px;
}
.ul_menu > li > a {
    text-decoration:none;
    color: #708090;
}
.ul_menu > li > a:hover {
    text-decoration:none;
    color: #0000cd;
}
.frame {
    border-right: 1px solid  #c0c0c0 ;
}