<form class="navbar-right">
    @if (Session["LoginState"] != null)
    {
        <ul class="nav navbar-nav navbar-right">
            <li>@Html.ActionLink("发文章","Save","Article")</li>
            <li><a href="#">发照片</a></li>
            <li><a href="javascript:loginOut()">注销</a></li>
        </ul>
    }
    else
    {
        <ul class="nav navbar-nav navbar-right">
            <li><a href="/Account/Login">登录</a></li>
        </ul>
    }
</form>
<script>
    function loginOut() {
       
        $.ajax({
            url: '/Account/LoginOff',
            cache: false,
            type:'post',
            success: function (data) {
                location.href = "/";
            },
            error: function (data) {
                alert("退出错误！");
            }
        });
    }
</script>