@model BM.Models.tb_Email
<form class="navbar-right" id="emailSubscription">
    <ul class="nav navbar-nav navbar-right">
        <li>@Html.TextBoxFor(model => model.Email, new { @class = "form-control", @placeholder = "填写您的Email订阅博客", @style = "margin-top:10px;" })</li>
        <li><button type="button" class="btn btn-block " onclick="subscription()"  style="margin-top:10px;margin-left:5px;" id="btn_submit">订阅</button></li>
        @if (Session["LoginState"] != null)
        {

            <li>@Html.ActionLink("发文章", "Save", "Article")</li>
            <li><a href="javascript:loginOut()">注销</a></li>

        }
        else
        {
            <li><a href="/Account/Login">登录</a></li>
        }
    </ul>
</form>
<script>
    function loginOut() {

        $.ajax({
            url: '/Account/LoginOff',
            cache: false,
            type: 'post',
            success: function (data) {
                location.href = "/";
            },
            error: function (data) {
                alert("退出错误！");
            }
        });
    }
    function subscription() {
        $.BMSubmit("/Account/Subscription", "emailSubscription", "", "订阅失败！", "订阅成功！");
    }
</script>