<dl>
    <dt class="art"><img src="~/Img/zj.jpg" alt="音乐"></dt>
    <dd class="icon-song"><span></span>未完成的爱情</dd>
    <dd class="icon-artist"><span></span>歌手：光良</dd>
    <dd class="icon-album"><span></span>专辑：未完成的爱情</dd>
    <dd class="icon-like"><span></span><a href="/">喜欢</a></dd>
    <dd class="music">
        <audio src="~/Music/wwcdaq.mp3" controls loop></audio>
    </dd>
    <!--也可以添加loop属性 音频加载到末尾时，会重新播放-->
</dl>
