@using BM.Web.Models
@model LoginViewModel
@{
    ViewBag.Title = "登录";
    Layout = "../Shared/_Layout.cshtml";
}

<h2>@ViewBag.Title</h2>
<div class="row">
    <div class="col-md-12">
        <section id="login">
            <form class="form-horizontal" id="loginForm">
                <hr />
                <div class="form-group">
                    <label class="col-md-2 control-label">
                        登录名
                    </label>
                    <div class="col-md-10">
                        <input id="LoginName" name="LoginName" class="form-control" />
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label">
                        密码
                    </label>
                    <div class="col-md-10">
                        <input id="Password" name="Password" type="password" class="form-control" />
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="button" id="login_btn" value="登录" class="btn btn-default" />
                    </div>
                </div>
            </form>
        </section>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
<script>
    $('#login_btn').click(
        function () {
            $.BMSubmit("/Account/Login", "loginForm", "/", '登录失败，请确认用户名和密码！','');
        })
</script>