@model IEnumerable<BM.Models.tb_Comment>

@{
    ViewBag.Title = "Comment";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<ul class="bloglist">
    @foreach (var item in Model)
    {
        <li>
            <div class="arrow_box">
                <div class="ti"></div>
                <!--三角形-->
                <div class="ci"></div>
                <!--圆形-->
                <ul class="textinfo">
                    <li>
                        <p>@item.C_Content</p>
                    </li>
                </ul>
                <ul class="details">
                    <li class="icon-time"><a href="#">@item.DateTime.ToString("yyyy-MM-dd")</a></li>
                </ul>
            </div>

            <!--arrow_box end-->
        </li>
    }
    @*<li>
        @Html.HtmlHelper_Page(
            int.Parse(ViewData["pageCount"].ToString()),
            "/Article/Index/" + (Request.RequestContext.RouteData.Values["articleClassificationId"] == null ? "aid" : Request.RequestContext.RouteData.Values["articleClassificationId"]) + "/")
    </li>*@
</ul>
