@model BM.Models.tb_Article
@{
    ViewBag.Title = "Detailed";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="~/Content/view.css" rel="stylesheet" />
<div class="blogs">
    <div id="index_view">
        <h2 class="t_nav"><a href="/">网站首页</a><a href="/">慢生活</a></h2>
        <h1 class="c_titile">@Html.Raw(Model.Title)</h1>
        <p class="box">发布时间：@Html.Raw(Model.Date.ToString("yyyy-MM-dd"))<span>编辑：DanceSmile</span>阅读（30）</p>
        <ul>
            @Html.Raw(Model.Content)
        </ul>
    </div>
    <!--bloglist end-->
</div>
