
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    .row {
        margin-top: 23px;
    }
</style>
<div class="row">
    <div class="col-md-2 col-sm-3">
        <section id="menu" class="frame">
            
        </section>
    </div>
    <div class="col-md-10 col-sm-9">
        <section id="List"></section>
        <div>
            <a href="javascript:void(0)" onclick="loadingMore()">加载更多 >></a>
        </div>
    </div>
</div>
<script>
    var i = 1;
    $.ajax({
        url: '/Article/ArticleList',
        data: { "page": i, "articleClassificationId": getMvcUrlPara(4) },
        success: function (data) {
            $('#List').html(data);
        }
    });
    $.ajax({
        url: '/Article/ArticleClass',
        success:function(data) {
            $('#menu').html(data);
        }
    });
    function loadingMore() {
        $.ajax({
            url: '/Article/ArticleList',
            data: { "page": i ,"articleClassificationId":getMvcUrlPara(4)},
            success: function (data) {
                if (data != "") {
                    $('#List').html(data);
                }
            }
        });
    }
    function getMvcUrlPara(index) {
        var pathname = window.location.pathname;
        var para = pathname.split('/')[index];
        return para;
    }
</script>
