
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model IEnumerable<BM.Models.tb_Article>
<ul class="bloglist">
    @foreach (var item in Model)
    {
        <li>
            <div class="arrow_box">
                <div class="ti"></div>
                <!--三角形-->
                <div class="ci"></div>
                <!--圆形-->
                <h2 class="title"><a href="/Article/Detailed/@item.Id" target="_blank">@item.Title</a></h2>
                <ul class="textinfo">
                    <li>
                        <!--<a href="/"><img src="images/s1.jpg"></a>-->
                        <p>@item.Abstract</p>
                    </li>
                </ul>
                <ul class="details">
                    <li class="likes"><a href="#">10</a></li>
                    <li class="comments"><a href="#">34</a></li>
                    <li class="icon-time"><a href="#">@item.Date.ToString("yyyy-MM-dd")</a></li>
                </ul>
            </div>
           
            <!--arrow_box end-->
        </li>
    }
    <li>
        @Html.HtmlHelper_Page(
            int.Parse(ViewData["pageCount"].ToString()), 
            int.Parse(Request.RequestContext.RouteData.Values["page"] == null ? "1".ToString() : Request.RequestContext.RouteData.Values["page"].ToString()),
            "/Article/Index/'"+Request.RequestContext.RouteData.Values["page"])
    </li>
</ul>