@using BM.Models;
@model tb_Article
@{
    ViewBag.Title = "Save";
    Layout = "../Shared/_Layout.cshtml";
}
<script src="~/Scripts/ckeditor/ckeditor.js"></script>
<style>
    .btn_submit {
    font-size: 9pt;
    color: #003399;
    border: 1px #003399 solid;
    color: #006699;
    border-bottom: #93bee2 1px solid;
    border-left: #93bee2 1px solid;
    border-right: #93bee2 1px solid;
    border-top: #93bee2 1px solid;
    background-color: #e8f4ff;
    cursor: pointer;
    width: 60px;
    height: 22px;
    margin-top:10px;
}
</style>
<form class="form-horizontal" id="SaveArticleForm">
    @Html.TextBoxFor(model => model.Title, new { @class = "input", @placeholder = "标题", @style = "width: 96.7%;margin-bottom:5px" })
    @Html.DropDownListFor(model => model.ClassificationId, (SelectList)ViewData["Classification"], new { @style = "width: 100%;margin-bottom:5px" })
    @Html.TextArea("ckeditor", new { @class = "form-control", @placeholder = "内容" })
    @Html.HiddenFor(model => model.Content)

    <button type="button" class="btn_submit" onclick="saveArticle()" id="btn_submit">提交</button>
</form>
<script>
    function saveArticle() {
        CKcontent();
        $.BMSubmit("/Article/Save", "SaveArticleForm", "", "保存失败！", "保存成功！");
    };
    function addClassification() {
        layer.prompt({
            title: '输入分类名称，并确认',
            formType: 0 //prompt风格，支持0-2
        }, function (pass) {
            var obj = { "aryicleName": pass };
            $.BMSubmit("/Article/SaveAryicle", obj, "", "分类保存失败！", "", function () {
                location.replace(location.href);
            });
        });
    }
    function CKcontent() {

        $('#Content').val(CKEDITOR.instances.ckeditor.getData());
    }

    CKEDITOR.replace("ckeditor", {
        height: '400px'
    });

</script>
